.bottomNav{
    position: fixed;
    bottom: 0px;
    background-color: white;
    width: 100vw;
    height: 51px;

    padding: 11px 11px 11px opx;
}

.icon{
    width: 51px;
    height: 51px;
}

.allIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}